<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${user.dir}/visualreport/visualreport.log</file>
        <append>true</append>
        <encoder>
            <pattern>%-5level [%logger{35}] [%thread] %d{yyyy-MM-dd HH:mm:ss.SSSSS} %m %n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="FILE"/>
    </root>

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>
</configuration>